{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
  
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:

</div>
{% endblock %}
